@charset "UTF-8";

/* Estilos para telas menores (responsivo) */
@media (max-width: 768px)  {


  .wrapper {
    max-width: 420px;
  }

  #hero-image {
    height: 390px;
  }

  #hero-image h2 {
    margin: 180px auto;
  }

  .button-1 {
    display: none;
  }

  .features-list {
    flex-direction: column; /* Empilha os itens em coluna */
  }

  .features-list li {
    margin-right: 0; /* Remove margem entre os itens */
    margin-bottom: 30px; /* Adiciona espaçamento entre os itens */
  }

  #features ul li {
    width: 230px;
    margin-left: 20px;
  }

  #features {
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
  }

  #primary-content h3 {
    border: none;
  }

  #secondary-content article {
    margin-bottom: 30px;
    background-image: none;
  }

}

