@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');


body, html {
  background-color: white;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

p {
  line-height: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Crete Round' serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}

h2 {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #02b8dd;
}

strong {
  font-weight: bold;
}

small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

.clear {
  clear:both;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 940px;
}


header {
 height: 80px;
}
header > h1 {
  overflow: hidden;
  float: left;
  margin-left: 200px;
}
header h1 {
  color: #02b8dd;
  font-size: 1.4em;
  float: left ;
}
header nav {
  float: right;
}
header nav ul li {
 
  display:inline-block;
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

header nav ul li a {
  color: #444;
  text-transform: uppercase;
  display: block;
  margin-right: 20px;
 
}


#hero-image {
  height: 580px;
  padding-top: 1px;
  background: #e8eced url('../imagens/hero.jpg') no-repeat ;
  background-size: cover;
  background-position: center center;
}
#hero-image h2 {
 margin: 180px 0 40px 0; 
}
.button-1 {
  display: block;
  text-align: center;
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: white;
  width: 180px;
  height: 50px;
  font-size: 1.3em;
  line-height: 50px;
  margin: 0 auto;

}

.button-1:hover {
  background-color: #02b8dd;
  color: white;
}

/* Estilos gerais para a seção de features */
#features {
  padding: 50px 0; /* Ajuste conforme necessário */
  background-color: #f2f2f2; /* Exemplo de cor de fundo */
}

.wrapper {
  max-width: 940px; /* Define a largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  overflow: hidden; /* Limpa floats */
}

.features-list {
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Distribui os itens igualmente */
}

.features-list li {
  position: relative; /* Define posição relativa para o item da lista */
  flex: 1; /* Faz com que cada item ocupe espaço igual */
  margin-right: 20px; /* Espaçamento entre os itens */
  text-align: center;
  padding: 20px;
}

#feature .features-list li {
  width: 300px;
  height: 240px;
}

.features-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
}

.feature-1::before {
  background-image: url('../imagens/features-icon-1.png');
}

.feature-2::before {
  background-image: url('../imagens/features-icon-2.png');
}

.feature-3::before {
  background-image: url('../imagens/features-icon-3.png');
}

/* Estilos para telas menores (responsivo) */
@media (max-width: 768px) {
  .features-list {
    flex-direction: column; /* Empilha os itens em coluna */
  }

  .features-list li {
    margin-right: 0; /* Remove margem entre os itens */
    margin-bottom: 20px; /* Adiciona espaçamento entre os itens */
  }
}


